/*-------- Button --------*/

.button {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 52px;
  padding: 0 20px;

  border: none;
  background: linear-gradient(180deg, #510981 0%, #510981 100%);
  border-radius: 12px;
  box-shadow: none;

  // font-family: 'Lato';
  font-weight: bold;
  font-size: 16px;
  line-height: 1;
  color: #fff;
  

  &:hover {
    background: linear-gradient(180deg, #eccc3b 0%, #eccc3b 100%);
  }
}

.button {
  &--v1 {
    font-size: 18px;
    text-transform: capitalize;
  }
}

@media (max-width: 767px) {
  .button {
    &--v1 {
      font-size: 16px;
      height: 45px;
      padding: 0 15px;
    }
  }
}
